Token Auth requires JWKS although docs says is optional

### Description

We had a small surprise when doing tests on latest master in regards to
token authentication. When trying out the code at commit 2314320a70a88dd1527b37d058066b5e7cad8afa
the service was rejecting all tokens.

### Reproduce

When not specifying `auth.token.jwks` like:

```yaml
---
auth:
  token:
    service: "The great registry service"
    realm: "https://auth-server.internal/authorize"
    issuer: "My Auth Issuer"
    rootcertbundle: "./path/to/docker_auth.crt"
    # notice the lack of jwks
```

try a `docker pull localhost:5000/a-sample-image` and:

- See the failed pull
- See in the logs `failed to verify token: token signed by untrusted key with ID: "key-id-reported-in-the-jwt"`

### Expected behavior

A similar behavior as the latest stable branch  (v2.8.3). When the `jwks` entry is not provided, it should validate against the keyid of the `rootcertbundle`

### registry version

Built from commit: 2314320a70a88dd1527b37d058066b5e7cad8afa

### Additional Info

Is this new behavior intended?

If so, I can volunteer to document it in the [jwt.md][jwt.md] page as well as
in [configuration.md][configuration.md] to reflect the requirement for a
`jwks.json` file to state explicitly that either:

- the JWT token includes the `x5c` section with a certificate that can be
  verified with the `auth.token.rootcertbundle`.

- or, the `auth.token.jwks` is a mandatory field containing the JWK
  representation of the signing key.

Maybe related to: #3941

[jwt.md]: https://github.com/distribution/distribution/blob/main/docs/content/spec/auth/jwt.md
[configuration.md]: https://github.com/distribution/distribution/blob/main/docs/content/about/configuration.md

There was a regression that should have been fixed by https://github.com/distribution/distribution/pull/4415 but you are saying that the verification chain is still broken on the build after the regression fix which suggests something else might be broken 🤔 

I think I managed to get the old behavior, I'll share a PR in a bit.

@josegomezr How did you generated certs? I'm not able to configure oauth2 for registry, I get either `token signed by untrusted key with ID` or `error authorizing context: go-jose/go-jose: unsupported key type/format`. 
I want to use self generated certs for start, I used
```
openssl genrsa -out private.key 2048
openssl req -new -x509 -key token.key -out token.crt -days 3650
```
and I set `rootcertbundle` to `token.crt` but no luck. I'm testing that on latest main branch which I builded locally.

I didn't set `jwks` file - what should be inside? Just grabbed content of HTTP `jwks` endpoint as json?

> @josegomezr How did you generated certs? I'm not able to configure oauth2 for registry, I get either token signed by untrusted key with ID or error authorizing context: go-jose/go-jose: unsupported key type/format.

Hi @archont94, following on the commands you posted.

```bash
# Key: Use this in your Token Server to Sign the JWT's
openssl genrsa -out token.key 4096

# Certificate: Use this in distribution to Verify the JWT's.
openssl req -new -x509 -key token.key -out token.crt -days 3650 -subj "/C=DE/ST=Bayern/O=registry/CN=localhost"
```

From here there are multiple options (behold, is a long read):

<details>
<summary>
    Have your authentication server send a self-contained JWT
</summary>

Your authentication server includes in the JOSE headers the `x5c` key containing the chain of certificates used to sign the token. 

And make sure it follows the [RFC 7515 Section 4.1.6](https://datatracker.ietf.org/doc/html/rfc7515#section-4.1.6):
> [...] The certificate containing the public key corresponding to the key used to digitally sign the JWS MUST be the first certificate. [...]

This certificate then is validated against the list of known certificates (`rootcerbundle`) before accepting the token as valid and continue to the authorization part
</details>

<details>
<summary>Your authentication server sets the JOSE Header <code>kid</code> of the JWT to the RFC 7638 Thumbprint representation of the private key used to sign the JWT.
</summary>

This representation is (as of #4471) added to the list of known keys on boot time, in the good ol' times of 2.x `kid` where derived [using libtrust's fingerprint mechanics](https://github.com/docker/libtrust/blob/master/util.go#L194-L207). That's the `12:groups:of:four:base32:encoded:colon:separated` id.

Now is using RFC 7638 Thumbprint instead.

At least on Ruby, the JWT implementation in jwt/ruby-jwt includes facilities to generate the kid in the RFC format.
</details>

<details>
<summary>
    Use <code>jwks.json</code> (JSON Web Key Set, JWKS from now on) file to signal what KeyID's are known
</summary>

`jwks.json` is a document with the following structure:

```yaml
{
    "keys": [
        {
            "kid": "any arbitrary name that your auth server shares"
            // rest of key 1
        },
        {
            "kid": "any arbitrary name that your auth server shares"
            // key 2
        },
        {
            "kid": "any arbitrary name that your auth server shares"
            // key N
        }
    ]
}
```

See [RFC 7517: Appendix A. Example JSON Web Key Sets](https://datatracker.ietf.org/doc/html/rfc7517#appendix-A) and [RFC 7518: Section 6. Cryptographic Algorithms for Keys](https://datatracker.ietf.org/doc/html/rfc7518#section-6) for more details on the required members and how to serialize them, I'll leave a small example with RSA here below:

This is the best of my efforts for a full local way of generating the JWK representation from a certificate file. Normally your JWT implementation should have helpers to get you there (At least the Ruby Library is good enough in that regard)

```bash
#!/bin/bash
# rfc7638-rsa-thumbprint.bash

# Requirements:
# - perl >= 5.26.1
# - base64
# - sha256sum
# - openssl

INPUT_CERT=${1??'Missing certificate'}

# Helping hands from perl
# - Remove any newlines
# - Even the hex text length if length is odd
# - Split in groups of two chars
# - Get the integer value of the two hex chars (FF => 255)
# - Convert the integer value to a real byte
# - Print it all without separators
function hex_to_bytes {
    perl -00 -nwE 'chomp($_); $_ = "0".$_ if (length($_) % 2) == 1; print map { pack("C", $_) } map { hex($_) } ($_ =~ /(..)/g);'
}

# base64url means:
#   plus  => minus
#   slash => underscore
#   no padding (=)
function b64url {
    base64 -w0 | tr '+' '-' | tr '/' '_' | tr -d '='
}

# Find where the public key parameters section is
PUBKEY_OFFSET=$(openssl asn1parse -in "$INPUT_CERT" -strictpem -inform DER -i | sed -ne '/:rsaEncryption/,/BIT STRING/p' | tail -n1 | cut -f1 -d: | xargs)
PUBKEY_PARAMS=$(openssl asn1parse -in "$INPUT_CERT" -strictpem -inform DER -strparse $PUBKEY_OFFSET -item RSAPublicKey)

# Extract modulus and exponent
MODULUS=$(echo "$PUBKEY_PARAMS" | grep -Po "(?<=n: ).+"| hex_to_bytes | b64url)
EXPONENT=$(echo -n "$PUBKEY_PARAMS" | grep -Po "(?<=e: ).+"| hex_to_bytes | b64url)

# Build the Thumbprint for the KID
# https://datatracker.ietf.org/doc/html/rfc7638#section-3.1
#
# Parameter definitions from 
# https://datatracker.ietf.org/doc/html/rfc7518#section-6.3.1
KID=$(printf '{"e":"%s","kty":"RSA","n":"%s"}' $EXPONENT $MODULUS | sha256sum | perl -ae 'print $F[0]' | hex_to_bytes | b64url)

# Print the JWK to consume with distribution
printf '{
    "e": "%s",
    "kid": "%s",
    "kty":"RSA",
    "n":"%s"
}' $EXPONENT $KID $MODULUS
```

Calling that script like: 
```bash
rfc7638-rsa-thumbprint.bash token.crt
```

Will print the JWK representation of the certificate (and as a bonus it's RFC 7518 thumbprint):

```json
{
    "n": "Base64urlUInt-encoded representation of the modulus",
    "e": "Base64urlUInt-encoded representation of the exponent",
    "alg": "RS256",
    "kid": "rfc7518 thumbprint"
}
```

With that content you can build the JWKS [mind the last `S`] file like so:

```yaml
{
    "keys": [
        {
            "n": "Base64urlUInt-encoded representation of the modulus",
            "e": "Base64urlUInt-encoded representation of the exponent",
            "alg": "RS256",
            "kid": "rfc7518 thumbprint"
        },
        # completely optional: same key, identified with a different "kid"
        {
            "n": "same Base64urlUInt-encoded representation of the modulus",
            "e": "same Base64urlUInt-encoded representation of the exponent",
            "alg": "RS256",
            "kid": "2024-my-kid-for-example"
        }
    ]
}
```

And then your authentication server can emit JWT with kid `rfc7518 thumbprint`
or `2024-my-kid-for-example` and distribution can recognize them.

</details>


---

I can't tell you for sure what option to take, from this point is a _"choose your own adventure"_ kind of experience.

But I hope this clarifies a bit what happens under the hood. It took a lot of RFC reading (at least for me) to capture it at first :sweat_smile:

p.s.: While crafting this little guide it occurred to me: would it be worth it to log the list of known KID's on boot time for log level `DEBUG` ? :thinking: 

In my case, using `jwks.json` (with the content of `https://authentik .example.com/application/o/<application slug>/jwks/`) helped. I'm also confused if JWKS is required or not, as I tried so many certs setting combination (including generated with Let's Encrypt, self generated or Authentik provided) and nothing worked.

> While crafting this little guide it occurred to me: would it be worth it to log the list of known KID's on boot time for log level DEBUG

Yeah, it would be helpful for sure (and also include KID inside token used by client)


> I'm also confused if JWKS is required or not.

For what I can read in the code as of now, it's not **mandatory**, if you align your stars with the `kid`, the `rootcertbundle` and /or the `x5c` header: then you can fare without it.

But it's a, let's call it "canonical", way of indicating what keys you trust.

I _can_ be **very** wrong about this though, take this comment with a grain of salt

Is there any workaround? I've tried generating a jwks json as described in the docker_auth issue linked above, but it has not made any difference.

Why is it no longer supported to only trust the CA bundle? As per the comment at  it seems like the TrustedKeys is *REQUIRED* if your auth provider doesn't set the `x5c` header:
https://github.com/distribution/distribution/blob/e3007cd2bcd9526c1c7c92edad419bd0e67531d1/registry/auth/token/token.go#L177-L190

Discussion at https://github.com/distribution/distribution/pull/4521#issuecomment-2515127790

Also note: https://github.com/distribution/distribution/blob/release/2.8/docs/spec/auth/jwt.md
> The "kid" field *has to be in a libtrust fingerprint compatible format*. Such a format can be generated by following steps:
> 1. Take the DER encoded public key which the JWT token was signed against.
> 2. Create a SHA256 hash out of it and truncate to 240bits.
> 3. Split the result into 12 base32 encoded groups with : as delimiter.

I don't think any claims that backwards compatibility can be ignored because the kid was never a documented standard really holds weight.

> kid was never a documented standard

Yep, we're fixing that. We don't want any non-standardized cruft in the codebase.

Besides, if we don't do it now, Hyrum's law will never stop biting us here.

How are we feeling about closing this issue? From our side the surprises were mitigated

I'm up for closing it

I'll take the liberty to close it. Thank y'all for your contributions and support.

'till the next bug